
div(ng-controller='mainCtrl')
	h1 Welcome to the Taskstream Profiles!

	div Search For TS Member:
		input(ng-model='search')

	div
		table(class="table table-striped")
			thead
				tr
					th Name
					th Title
					th Email
			tr(ng-repeat='user in appuser | filter:search', ng-click='loadProfile(user)', ui-sref='profile({username:user.username})')
				td {{user.username}}
				td {{user.title}}
				td {{user.email}}
