h1 Profile Page

div(ng-controller='profileCtrl')
   ul
       li(ng-repeat='user in appuser')
        span {{user.username}} , {{user.email}}



           div(ng-controller='profileCtrl')
           table(class="table table-striped")
               thead
                   tr
                       th Name
                       th Department
                       th Email
               tr(ng-repeat='user in users | filter:search')
                   td {{user.FirstName}} {{user.LastName}}
                   td {{user.Department}}
                   td {{user.Email}}