doctype
html
    head

        link(href='/public/favicon.ico', rel="shortcut icon", type="Image/x-icon")
        link(rel='stylesheet', href="/vendor/toastr/toastr.css")
        link(rel='stylesheet', href="/css/site.css")
        link(rel='stylesheet', href="/css/Animations.css")
        link(rel='stylesheet', href="/vendor/bootstrap/dist/css/bootstrap.css")

    body(ng-app='myApp')
        block main-content
        include scripts
